@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.NavigationSelected{
  background-color: #C73866 !important;
  color: white !important;
}